<!DOCTYPE html>
<html>
    <head>
        <title>Link Shortener</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>NOT FOUND</h1>
        </main>
    </body>
</html>