<!DOCTYPE html>
<html>
    <head>
        <title>Link Shortener</title>
        <script src="/assets/js/dashboard.js"></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            
            <form name="myForm" id="myForm" action="/app/generate" method="POST">
                <div class="form-floating">
                  <input type="text" class="form-control" id="key" name="key" placeholder="Key">
                  <label for="key">Key</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                  <label for="description">Description</label>
                </div>
                <div class="form-floating">
                    <input type="url" class="form-control" id="url" name="url" placeholder="URL">
                    <label for="description">URL</label>
                  </div>
                  <div class="form-floating">
                    <input type="checkbox" class="form-control" id="intersitial" name="intersitial" placeholder="Intersitial">
                    <label for="description">Intersitial</label>
                  </div>
            
                <button class="w-100 btn btn-lg btn-primary" type="submit">SUBMIT</button>
              </form>
        </main>
    </body>
</html>