<!DOCTYPE html>
<html>
    <head>
        <title>Link Shortener</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Redirection Inspection</h1>
            <p>You are about to be redirected to <span><%= url %></span></p>
            <p>Description: <%= description %></p>
            <button onclick="window.location.replace('<%= url %>')">REDIRECT </button>
        </main>
    </body>
</html>